{% extends "base_generic.html" %}

{% block content %}
<h1><p class="p1">{{blog.title}}</p></h1>


<p class="p1"><a href="{{ blog.blog_author.get_absolute_url }}">{{ blog.blog_author }}</a></p>
<p class="p1">{{ blog.date_of_publication }}</p>
<p class="p1">{{ blog.description }}</p>


<p class="p1"><a href="{{ blog.get_absolute_url }}/update">Blog update</a></p>
<p class="p1"><a href="{{ blog.get_absolute_url }}/delete">Blog delete</a></p>

<h4><p class="p1">Comments:</p></h4>

{% for comment in blog.blog_comment_set.all %}
<hr>
<p class="p1">{{comment.blog_author}} ({{comment.post_date}}) - {{comment.description}}</p>
{% endfor %}
<hr>
{% if user.is_authenticated %}
<p class="p1"><a href="{% url 'blog_comment' blog.id %}">Add a new comment</a></p>
{% else %}
<p class="p1"><a href="{% url 'login'%}?next={{request.path}}">Login</a> to add a new comment</p>
{% endif %} 

</div>
{% endblock %}